body {
  margin: 0; }

button {
  cursor: pointer; }

.bloque {
  display: flex;
  background: #18181c;
  height: 30vh;
  align-items: center;
  justify-content: center; }
  .bloque .titulo {
    margin-right: auto;
    align-self: flex-start;
    font-family: 'volaroid_scriptregular';
    font-size: 40px;
    font-width: 50%; }
  .bloque .descripcionDelTitulo {
    font-family: 'maxwell_boldregular';
    font-size: 23px; }
  .bloque .bloqueInvisible {
    margin-left: auto; }
  .bloque .titulo, .bloque .descripcionDelTitulo {
    color: white;
    flex: 1; }

.bloque:nth-child(even) {
  display: flex;
  background: #75c8aeff;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse; }

.contenedorBarraIconos {
  background-color: burlywood;
  height: 100vh;
  width: 30%;
  margin-left: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  display: flex; }

.bloqueIconosBarra {
  background-color: cornflowerblue;
  background: crimson;
  height: 7%;
  width: 100% ;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  display: flex; }
  .bloqueIconosBarra .iconoUsuario {
    background: skyblue;
    height: 50%;
    width: 25% ; }
  .bloqueIconosBarra .iconoListado {
    background: darkviolet;
    height: 50%;
    width: 25% ; }

.bloqueFotoGenerada {
  background: black;
  height: 30%;
  width: 100% ;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex; }
  .bloqueFotoGenerada .fotoGenerada {
    background-color: cornsilk;
    background: goldenrod;
    height: 90%;
    width: 50% ;
    border-radius: 50%; }

.contenedorInformacionUsuario {
  background: none;
  height: 60%;
  width: 100% ;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 2em;
  box-sizing: border-box; }

.tituloHaciaUsuario {
  background: deeppink;
  height: 15%;
  width: 90% ;
  margin-bottom: 1em; }

.descripcionHaciaUsuario {
  background: darkviolet;
  height: 50%;
  width: 90% ; }

.bloqueBotonesBarraUsuario {
  background: none;
  height: 30%;
  width: 80% ;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  display: flex; }
  .bloqueBotonesBarraUsuario .sesionBarraUsuario {
    background: orangered;
    height: 40%;
    width: 40% ; }
  .bloqueBotonesBarraUsuario .registrarseBarraUsuario {
    background: orange;
    height: 40%;
    width: 40% ; }

.bloqueBotonesBarraUsuario {
  background: none;
  height: 40%;
  width: 90% !important; }

button#historialDeComprasBoton {
  background: cyan;
  height: 40%;
  width: 100% !important; }

.contenedorBarraProductos {
  height: 100%;
  width: 100%;
  background-color: teal;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex; }

.blocProductosLista {
  background: yellowgreen;
  height: 85%;
  width: 100% ;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  overflow: auto; }
  .blocProductosLista::-webkit-scrollbar {
    display: none; }

.panelProductosLista {
  background: white;
  height: 30%;
  width: 90% ;
  margin: 0.5em; }

.barraIrSumario {
  background: olivedrab;
  height: 15%;
  width: 100% ;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  display: flex;
  padding: 1em;
  box-sizing: border-box; }
  .barraIrSumario #botonIrSumario {
    background: brown;
    height: 70%;
    width: 50% ;
    color: white; }

#itemColores1 {
  background-color: crimson;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores2 {
  background-color: blue;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores3 {
  background-color: mediumspringgreen;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores4 {
  background-color: chocolate;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores5 {
  background-color: khaki;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores6 {
  background-color: white;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores7 {
  background-color: violet;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores8 {
  background-color: gold;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemColores9 {
  background-color: purple;
  border-radius: 24px;
  height: 0.5em;
  width: 0.5em;
  margin-left: 0.7em;
  margin-bottom: 0.3em; }

#itemTalla1 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla2 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla3 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla4 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla5 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla6 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla7 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

#itemTalla8 {
  background-color: white;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 0 0.3em; }

button {
  cursor: pointer; }

.contenedorProductoEx {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  display: flex; }

.fotoProductoEx {
  height: 100%;
  width: 50%;
  background: blue;
  background: url("https://pbs.twimg.com/profile_images/1108111327963344897/177ypvoH_400x400.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.detallesProductoEx {
  height: 100%;
  width: 50%;
  background: red;
  display: flex;
  flex-direction: column; }

.textoDetallesPr {
  height: 20%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column; }
  .textoDetallesPr .tituloDetalles {
    height: 100%;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex; }
  .textoDetallesPr .descripcionDetalles {
    height: 50%;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex; }

.caracteristicasDetallesPr {
  height: 80%;
  width: 100%;
  background: #e0f80b;
  display: flex;
  flex-direction: column; }
  .caracteristicasDetallesPr .bloqueDetallesTallas {
    height: 70%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .caracteristicasDetallesPr .bloqueDetallesTallas .cuadradoItemTallas {
      height: 100%;
      width: 60%;
      background: black;
      flex-wrap: wrap;
      padding: 1em;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      display: flex; }
  .caracteristicasDetallesPr .bloqueDetallesColores {
    height: 30%;
    width: 100%;
    background: black;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    display: flex; }
    .caracteristicasDetallesPr .bloqueDetallesColores .cuadradoItemColores {
      height: 100%;
      width: 100%;
      background: black;
      display: flex;
      flex-wrap: wrap;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 0.3em;
      padding-left: 0.3em;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-end; }

.anadirDetallesPr {
  height: 20%;
  width: 100%;
  background: white;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  padding: 1em; }

.contenedorAnadirDetalles {
  height: 50%;
  width: 50%;
  background: white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex; }
  .contenedorAnadirDetalles .bloqueBotonesCantidad {
    height: 100%;
    width: 33%;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex; }
  .contenedorAnadirDetalles #flechaArriba, .contenedorAnadirDetalles #flechaAbajo {
    height: 100%;
    width: 100%;
    background: none;
    background: url("https://pbs.twimg.com/profile_images/1108111327963344897/177ypvoH_400x400.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .contenedorAnadirDetalles .bloqueCantidadAnadir {
    height: 100%;
    width: 33%;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    border: 0.3em solid black;
    box-sizing: border-box; }
  .contenedorAnadirDetalles .iconoAnadir {
    height: 100%;
    width: 34%;
    background: white url("https://pbs.twimg.com/profile_images/1108111327963344897/177ypvoH_400x400.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1em; }
