:root {
  box-sizing: border-box; }

body {
  margin: 0;
  height: 100vh; }

button {
  cursor: pointer;
  height: 25%;
  width: 25%; }

.contenedor {
  height: 80%;
  width: 100%;
  background-color: black;
  color: white; }

.bloque {
  display: flex;
  background: #18181c;
  height: 30vh;
  align-items: center;
  justify-content: center; }
  .bloque .titulo {
    margin-right: auto;
    align-self: flex-start;
    font-family: 'volaroid_scriptregular';
    font-size: 40px;
    font-width: 50%; }
  .bloque .descripcionDelTitulo {
    font-family: 'maxwell_boldregular';
    font-size: 23px; }
  .bloque .bloqueInvisible {
    margin-left: auto; }
  .bloque .titulo, .bloque .descripcionDelTitulo {
    color: white;
    flex: 1; }

.bloque:nth-child(even) {
  display: flex;
  background: #75c8aeff;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  display: flex;
  justify-content: flex-end;
  background: #ffecb4ff;
  margin: 0 0;
  align-items: center;
  height: 10vh; }

li {
  color: #18181c;
  margin: 0 25px;
  list-style-type: none;
  font-family: 'volaroid_scriptregular'; }

ul {
  background-color: deeppink !important; }

.contenedor {
  height: 200%;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: auto; }
  .contenedor::-webkit-scrollbar {
    display: none; }
  .contenedor#imagen {
    height: 70%;
    width: 100%;
    background-color: black;
    color: white;
    background-color: deeppink; }

.blocDescripcion {
  height: 15em;
  background: white;
  height: 15em;
  width: 100% ;
  align-self: flex-start;
  margin-bottom: 2em; }

.panel {
  height: 25em;
  background: midnightblue;
  height: 25em;
  width: 80% ;
  border: 1em solid black; }
  .panel:nth-child(even) {
    height: 25em;
    background: mediumvioletred;
    height: 25em;
    width: 80% ;
    border: 1em solid black; }
