@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Open+Sans:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  display: flex;
  justify-content: center;
  background: #ffecb4ff;
  margin: 0 0;
  align-items: center;
  height: 10vh;
  font-family: 'Open Sans'; }

li {
  color: #18181c;
  margin: 0 25px;
  list-style-type: none; }

body {
  margin: 0;
  height: 100vh; }

button {
  cursor: pointer;
  height: 25%;
  width: 25%; }

.contenedor {
  height: 80%;
  width: 100%;
  background-color: black;
  color: white; }

.bloque {
  display: flex;
  background: #18181c;
  height: 30vh;
  align-items: center;
  justify-content: center; }
  .bloque .titulo {
    margin-right: auto;
    align-self: flex-start;
    font-family: 'volaroid_scriptregular';
    font-size: 40px;
    font-width: 50%; }
  .bloque .descripcionDelTitulo {
    font-family: 'maxwell_boldregular';
    font-size: 23px; }
  .bloque .bloqueInvisible {
    margin-left: auto; }
  .bloque .titulo, .bloque .descripcionDelTitulo {
    color: white;
    flex: 1; }

.bloque:nth-child(even) {
  display: flex;
  background: #75c8aeff;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse; }

nav a img {
  width: 3em;
  height: 3em; }

.o-contenedor--inputs {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 90%;
  width: 100%;
  background-color: black;
  color: white; }

.o-contenedor__bloque {
  height: 80%;
  background: brown;
  height: 80%;
  width: 80% ;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex; }

.c-bloque__titulo {
  height: 20%;
  background: black;
  height: 20%;
  width: 100% ;
  padding: 2em;
  box-sizing: border-box; }
  .c-bloque__titulo #tituloRegistrarse {
    font-size: 2em;
    color: white; }

.c-bloque__inputs {
  height: 80%;
  background: black;
  height: 80%;
  width: 100% ;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap; }

.o-inputs {
  height: 40%;
  background: white;
  height: 40%;
  width: 40% ;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin: 1em 2em;
  box-sizing: border-box; }
  .o-inputs:nth-child(even) {
    background-color: crimson; }

.inputs__titulo {
  height: 40%;
  background: SaddleBrown;
  height: 40%;
  width: 50% ; }

.inputs__casilla {
  height: 60%;
  background: BurlyWood;
  height: 60%;
  width: 100% ;
  box-sizing: border-box; }

.c-barra-botones {
  height: 20%;
  background: gold;
  height: 20%;
  width: 100% ;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0.5em 0; }

.u-boton {
  cursor: pointer;
  height: 40%;
  width: 15%;
  margin: 0 2em; }

.o-contenedor--grande {
  width: 100%;
  height: 90vh;
  background-color: black;
  display: grid;
  grid-template-columns: 9fr 1fr; }

.c-grande__fondo {
  background-color: black; }

.c-grande__zapato {
  background-color: black;
  padding-left: 6em;
  display: grid;
  grid-template-rows: 5fr 1fr; }

.c-zapato__img {
  background: url("../zapatosVerdes.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain; }

.c-zapato__barra {
  padding: 1.8em;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.u-info-zapato {
  font-family: 'Pacifico', 'Comic Sans';
  color: white;
  cursor: pointer;
  font-size: 2em; }
  .u-info-zapato:hover {
    background-color: white;
    color: black; }
