@mixin flexItem ($backgroundColor: false, $height: 100%, $width: 40%, $important: ""){
    @if $backgroundColor{
        height: $height;
        background: $backgroundColor;
        height:$height;
        width: $width unquote($important);
    } @else {
        height: $height;
        background: white;
        height:$height;
        width: $width unquote($important);
    }
}

@mixin flexFlow ($justify: flex-start, $align: flex-start, $direction: row,$display: flex){
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    display: $display;

}
//-Lo modifiqué para el nuevo diseño de la tienda
@mixin backgroundImage($path: black, $size:cover){
    background: url($path);
    background-position:left;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin button ($height: false, $width: false){
    cursor: pointer;
    @if $height{
        height: $height;
        width: $width;
    } @else{
        height: 25%;
        width: 25%;
    }
}

@mixin contenedor ($height: false, $width: 100%, $bg-color: black, $color: white) {
    @if $height{
        height: $height;
        width: $width;
        background-color: $bg-color;
        color: $color;
    } @else{
        height: 80%;
        width: $width;
        background-color: $bg-color;
        color: $color;
    }
}
// @mixin bloc ($height: false, $width: 100%, $bg-color: crimson, $color: white) {
//     @if $height{
//         height: $height;
//         width: $width;
//         background-color: $bg-color;
//         color: $color;
//     } @else{
//         height: 50%;
//         width: $width;
//         background-color: $bg-color;
//         color: $color;
//     }
// }
