//- - var ordenIconosBarra = "izquierda"

include ../layouts/pug/_defaultTemplateSinNav
block head
    link(rel="stylesheet", href="css/barraUsuarioNoAutenticado.css")
block contentTemplate
    include components/_contenedorUsuarioAutenticacion