.contenedorEncabezado{
    // background-color: aquamarine;
    height: 90vh;
}

.backgroundImagen{
    background: black url("https://c4.wallpaperflare.com/wallpaper/573/746/509/tf2-engineer-pyro-team-fortes2-wallpaper-preview.jpg");
  /* The image used */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
// background-color: black;
height:100%;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
}

.textoBienvenida{
    padding: 1em;
    background-color: darkturquoise;
    width: 30em;        
    margin-left: 3em;
    font: {
        size: 2em;
    }
    color: white
}
.descripcionBienvenida{
    background-color: deeppink;
    width: 30em;        
    margin: {
        left: 3em;
        top: 3em;
    }
    font: {
        size: 2em;
    }
    color: white

}