extends ../../layouts/pug/_defaultTemplateSinNav
block head
    link(rel="stylesheet", href="../../css/barraUsuarioNoAuthMain.css", type="text/css")
block contentTemplate
    include components/_contenedorBarraUsuarioNoAuth