@import "../config/mixins";

body{
    margin: 0;
    height: 100vh;
}

button{
    @include button; 
}
.contenedor{
    @include contenedor;
}
//La wea de abajo son los estilos de la página index =b
.bloque{
    display: flex;
    background: $brown;
    height: 30vh;
    align-items: center;
    justify-content: center;
    // flex-flow: row-reverse;
    
   
    .titulo {
        margin-right: auto;
        align-self: flex-start;
        font: {
        family: 'volaroid_scriptregular';
        size: 40px;
        width: 50%;
    }
}

    .descripcionDelTitulo{
    font: {
        family: 'maxwell_boldregular';
        size: 23px;
        }
    }
    
    .bloqueInvisible{
        margin-left: auto;
    }
    .titulo, .descripcionDelTitulo{
        color: white;
        flex: 1
    }
}

.bloque:nth-child(even){
    display: flex;
    background: $turquoise;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    
    
}