extends  ../../../layouts/pug/components/_barraUsuarioAuth
prepend contenidoCabeceraAutenticacion
    -var ordenIconosBarra = "derecha"
block fotoGeneradaBlock
block contenidoInformacionAutenticacion
    include blocs/_barraProductos