@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Open+Sans:ital,wght@1,800&display=swap");
:root {
  box-sizing: border-box; }

body {
  margin: 0;
  height: 100vh; }

button {
  cursor: pointer;
  height: 25%;
  width: 25%;
  border: none; }

.u-centrar-hijo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex; }

.bloque {
  display: flex;
  background: #5a3d2b;
  height: 30vh;
  align-items: center;
  justify-content: center; }
  .bloque .titulo {
    margin-right: auto;
    align-self: flex-start;
    font-family: 'volaroid_scriptregular';
    font-size: 40px;
    font-width: 50%; }
  .bloque .descripcionDelTitulo {
    font-family: 'maxwell_boldregular';
    font-size: 23px; }
  .bloque .bloqueInvisible {
    margin-left: auto; }
  .bloque .titulo, .bloque .descripcionDelTitulo {
    color: white;
    flex: 1; }

.bloque:nth-child(even) {
  display: flex;
  background: #75c8aeff;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  display: flex;
  justify-content: center;
  background: #75c8aeff;
  margin: 0 0;
  align-items: center;
  height: 10vh; }

li {
  color: #5a3d2b;
  margin: 0 25px;
  list-style-type: none;
  font-family: 'Open Sans'; }

.o-contenedor {
  display: flex;
  height: 90%;
  width: 100%;
  background-color: white;
  color: white; }

.c-contenedor__imagen {
  background-color: #5a3d2b;
  height: 100%;
  background: white;
  height: 100%;
  width: 50% ;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdmAnoSBsyovOya8DtKSueUgm8hbhJMhA-rA&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.c-contenedor__texto-bienvenida {
  height: 100%;
  background: #5a3d2b;
  height: 100%;
  width: 50% ;
  flex: 1;
  width: 55%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 2em; }

.c-texto-bienvenida__titulo {
  height: 20%;
  background: none;
  height: 20%;
  width: 100% ;
  font-size: 2em;
  font-family: 'Heebo', sans-serif; }

.c-texto-bienvenida__boton {
  height: 80%;
  background: #5a3d2b;
  height: 80%;
  width: 100% ;
  padding: 8em;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  display: flex; }
  .c-texto-bienvenida__boton button {
    cursor: pointer;
    height: 5em;
    width: 20em;
    background-color: #75c8aeff;
    border: none;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 1em;
    box-sizing: border-box; }

.o-contenedor--productos {
  display: flex;
  height: 100em;
  flex-direction: column; }

.o-productos__bloque {
  background-color: darkorange;
  flex: 1;
  display: flex; }
  .o-productos__bloque:nth-child(even) {
    background-color: darkviolet; }

.c-bloque__texto {
  background-color: #75c8aeff;
  width: 45%;
  padding: 2em;
  box-sizing: border-box;
  font-size: 2em;
  font-family: 'Heebo', sans-serif;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  display: flex; }

.c-bloque__texto__titulo {
  height: 20%;
  background: none;
  height: 20%;
  width: 40% ; }

.c-bloque__texto__descripcion {
  height: 60%;
  background: none;
  height: 60%;
  width: 40% ; }

.c-bloque__imagen {
  background-color: #5a3d2b;
  width: 55%; }

#zapatilla-cuero {
  background: url("https://i.ebayimg.com/images/g/y9oAAOSwtHZbjHD~/s-l1600.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#sandalias {
  background: url("https://st4.depositphotos.com/13194036/41698/i/600/depositphotos_416980160-stock-photo-pair-brown-suede-elegant-heeled.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#sneakers {
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/sneakers-1596112056.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.o-acerca {
  background-color: indigo;
  height: 120vh;
  display: flex;
  flex-direction: column; }

.c-acerca__titulo {
  background-color: #5a3d2b;
  flex: 1;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  font-size: 2em;
  font-family: 'Heebo', sans-serif; }

.c-acerca__descripcion {
  background-color: #75c8aeff;
  flex: 3;
  display: flex;
  font-size: 2em;
  font-family: 'Heebo', sans-serif; }

.u-acerca__descripcion__texto {
  background-color: #75c8aeff;
  flex: 1;
  color: #5a3d2b; }

.u-acerca__descripcion__imagen {
  background-color: #5a3d2b;
  flex: 1;
  background: url("https://caeie.com/wp-content/uploads/2019/06/58ee597727433.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
