a{
    text-decoration: none;
    color: inherit
}

ul{
    display: flex;
    justify-content: flex-end;
    background: $banana ;
    margin: 0 0;
    align-items: center;
    height: 10vh;
}

li{
    color: $brown;
    margin: 0 25px;
    list-style-type: none;
    font: {
        family: 'volaroid_scriptregular'; 
    }
}

a, img{
    width: 60px;
    margin-right: auto;
    margin-left: -15px;
    
}