.contenedorBienvenida{
    display: flex;
    height: 90vh;
    
    .bloqueImagen{
        background-color: cornflowerblue;
        width: 45%
    }
    
    .bloqueTextoBienvenida{
        background-color: firebrick;
        flex: 1;
        width: 55%;
    }
}

.contenedorProductos{
    display: flex;
    height: 100em;
    flex-direction: column;
    
}

.bloqueProducto{
 background-color: darkorange;   
 flex: 1;
 display: flex;
    &:nth-child(even){
        background-color: darkviolet;
    }
}

.panelImagenProducto{
    background-color: cadetblue;
    width: 45%;
}

.panelTextoProducto{
    background-color: crimson;
    width: 55%;
}




.acerca{
    background-color: indigo;
    height: 120vh;
    display: flex;
    flex-direction: column;
    .tituloAcerca{
        background-color: lightskyblue;
        flex: 1;
    }
    .bloqueDescripcion{
        background-color: mediumvioletred;
        flex: 3;
        display: flex;
        
        .descripcionAcerca{
            background-color: plum;
            flex: 1;
        }
        .imagenDescripcion{
            background-color: burlywood;
            flex: 1;
        }
    }
}

