@import "../../layouts/sass/config/paletaColores";
@import "../../layouts/sass/config/mixins";
@import "../../layouts/sass/modules/cuerpoIndex";
@import "../../layouts/sass/modules/nav";
@import "modules/contenidoRegistrarse"; 
 

nav a img {
    width: 3em;
    height: 3em;
}

.blocBotones{
    padding: 0.5em 0;
    @include flexFlow(space-between, center);    
}
.botonBlocBotones{
    @include button(40%, 15%);
    margin: 0 2em;
}

// @mixin button ($height: false, $width: false){
//     cursor: pointer;
//     @if $height{
//         height: $height;
//         width: $width;
//     } @else{
//         height: 25%;
//         width: 25%;
//     }
// }