include ../_caracteristicasPanel

block blockGeneralProductoExpandido
    .contenedorProductoEx
        .fotoProductoEx    
        .detallesProductoEx
            .textoDetallesPr
                block blockTextoDetalles
                    .tituloDetalles Título
                    .descripcionDetalles Descripción...QUE TENGO SUEÑO TÍO! >=´c
            .caracteristicasDetallesPr
                .bloqueDetallesTallas
                    block blockMixinTallas
                        +itemTallasMixin(1, 10)
                        +itemTallasMixin(2, 19)
                        +itemTallasMixin(3, 22)
                        +itemTallasMixin(3, 22)
                        +itemTallasMixin(3, 22)
                        +itemTallasMixin(3, 22)
                        +itemTallasMixin(3, 22)
                        +itemTallasMixin(3, 22)
                .bloqueDetallesColores
                    .cuadradoItemColores
                        block blockMixinColores
                        +itemColoresMixin(1)
                        +itemColoresMixin(2)
                        +itemColoresMixin(3)
                        +itemColoresMixin(4)
                        +itemColoresMixin(5)
                        +itemColoresMixin(6)
                        +itemColoresMixin(7)
            block blockAnadirDetalles 