//-bloqueInput (texto, texto2, tipo1, tipo2, id1, id2, placeholder1, placeholder2)
.contenedor
    .parteDerecha#formulario
        form(action="")
            include modules/_input
            +bloqueInput("Nombre ", "Contraseña", "text", "password"," " , "pass" ,"Coloca tu nombre", "Coloca tu contra")
            +bloqueInput("Correo Electrónico", "Apellidos", "email", "text", "email", " ", "Coloca tu correo", "Coloca tu Apellido")
        .barraSiguiente
            .boton Iniciar sesión Google
            button.boton#siguiente(onclick="enviar()") Siguiente