.o-contenedor--encabezado
    .c-contenedor--encabezado__imagen The mitocondria is the powerhouse of the cell
        .imagen__texto-bienvenida.u-centrar-hijo: p Pernu
    .c-contenedor--encabezado__texto
        .c-descripcion-bienvenida.u-centrar-hijo: p Calzado de calidad a los mejores precios
.o-contenedor--paneles 
    .c-paneles__bloque: a(class="__-foto--panel" onclick="expandirProducto()") Dame Click
        button.c-bloque__boton--anadir
            .__-boton--anadir__texto Añadir
        .c-bloque__caracteristicas
.o-producto-expandido            
.o-barra-productos