extends _defaultTemplate
block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title PAV
            link(rel="stylesheet", href="css/pagPIndex.css")
block contenidoNav
    include components/_nav
        +navLiList("tienda/pug/tienda.html", "Tienda")
        +navLiList("iniciar-sesion/pug/iniciarSesion.html", "Iniciar Sesión")
block contentTemplate
    
    