mixin panelProducto
    .panelProductosLista


.contenedorBarraProductos
    .blocProductosLista
        +panelProducto
        +panelProducto
        +panelProducto
    .barraIrSumario
        button#botonIrSumario Ir a Sumario