- var objectosCirculos= "";

-
    var circulos= 
    [
        {
            "nombre": "Pedro",
            "apellidos": "pedrito pedrias"
        },
        {
            "nombre": "Juan =3",
            "apellidos": "David Pérez"
        },
        {
            "nombre": "Luis",
            "apellidos": "Obando Mora"
        }
    ]

