- var ordenIconosBarra = "derecha"
.contenedorBarraIconos
    .bloqueIconosBarra
        if ordenIconosBarra == "derecha"
            .iconoUsuario
            .iconoListado
        else if ordenIconosBarra== "izquierda"
            .iconoListado
            .iconoUsuario
    block fotoGeneradaBlock
        .bloqueFotoGenerada
            .fotoGenerada  


    .contenedorInformacionUsuario
        .tituloHaciaUsuario
        .descripcionHaciaUsuario
        block botonesBarraUsuario
            .bloqueBotonesBarraUsuario
                button.sesionBarraUsuario
                button.registrarseBarraUsuario
//-            