- var ordenIconosBarra = "derecha"
.bloqueIconosBarra
    if ordenIconosBarra == "derecha"
        .iconoUsuario
        .iconoListado
    else if ordenIconosBarra== "izquierda"
        .iconoListado
        .iconoUsuario
block fotoGeneradaBlock
    .bloqueFotoGenerada
        .fotoGenerada  