.footer{
    display: flex;
    height: 20em;
    flex-direction: column;
}
.botonesFooter{
    background-color: darksalmon;
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

        button{
            padding: 0.8rem 3rem;
            margin: 0 10px;
        }
}
.textoRegisterComp{
    background-color: goldenrod;
    flex: 1;
    display: flex;
    p{
        display: block;
        margin: auto;
    }
}
