mixin navLiList(href, texto)
    li: a(href= `${href}`)= texto

a(href="index.html")
    img(src="images/logoPav.png", alt="alt")
    block navLi
        ul
            +navLiList("unirse", "Unirse")
            +navLiList("comunidad", "Comunidad")
            +navLiList("acerca", "Acerca")