mixin panelProducto
    .contenedorPanel
        .fotoPanel
            .botonAnadirPanel
        .bloqueTextoPanel
            .tituloPanel
            .descripcionPanel

.contenedorEncabezado
    .backgroundImagen
        .textoBienvenida
        .descripcionBienvenida
.contenedorPaneles
