mixin itemColoresMixin(id)
    div(id= `itemColores${id}`)
mixin itemTallasMixin(id, numeroTalla)
    div(id= `itemTalla${id}`)= numeroTalla

.contenedorProductoEx
    .fotoProductoEx    
    .detallesProductoEx
        .textoDetallesPr
            .tituloDetalles Título
            .descripcionDetalles Descripción...QUE TENGO SUEÑO TÍO! >=´c
        .caracteristicasDetallesPr
            .bloqueDetallesTallas
                .cuadradoItemTallas
                    +itemTallasMixin(1, 10)
                    +itemTallasMixin(2, 19)
                    +itemTallasMixin(3, 22)
                    +itemTallasMixin(4, 30)
                    +itemTallasMixin(5, 27)
                    +itemTallasMixin(6, 23)
                    +itemTallasMixin(7, 31)
                    +itemTallasMixin(8, 25)
            .bloqueDetallesColores
                .cuadradoItemColores
                    +itemColoresMixin(1)
                    +itemColoresMixin(2)
                    +itemColoresMixin(3)
                    +itemColoresMixin(4)
                    +itemColoresMixin(5)
                    +itemColoresMixin(6)
                    +itemColoresMixin(7)
                    +itemColoresMixin(8)
                    +itemColoresMixin(9)
        .anadirDetallesPr
            .contenedorAnadirDetalles
                .bloqueBotonesCantidad
                    button#flechaArriba
                    button#flechaAbajo
                .bloqueCantidadAnadir
                button.iconoAnadir
            
