extends ../../layouts/pug/_defaultTemplate
block head
    link(rel="stylesheet", href="../../css/confirmacionCorreoMain.css")
block contenidoNav
    li: a(href="../../index.html") link Index
block contentTemplate
    .contenedor
        .titulo Titulo =b
        .descripcion Descripcion uwu
        .icono Icono =D