extends ../../layouts/pug/_defaultTemplate
block head
    link(rel="stylesheet", href="../../css/historialDeComprasMain.css")
block contenidoNav
    li: a(href="../../index.html") index
block contentTemplate
    .contenedor#imagen
    .blocDescripcion
    .contenedor
        include config/_arrays 
        each circulo, index in circulos
            .panel
                .circulo(id= `item-${index}`, class= `${circulo.color}`)= circulo.color