extends layout/_html-body
block nav
    nav
        ul 
            +navLi("index.html", "Pernu")
            +navLi("registrarse.html", "Registrarse")
block bodyContent
    mixin mixinCasillasInput(titulo)
        .casillaTituloInput= titulo
        input.casillaRecoleccionInput
    .o-contenedor--inputs
        .c-contenedor__bloque
            .c-bloque__titulo
                .__-titulo-texto Inicio Sesión
            form.c-bloque__inputs
                +mixinCasillasInput("correo")
                +mixinCasillasInput("contra")
        .c-barra-botones
            button.u-boton: a(href="404.html")  Iniciar
