extends layout/_html-body
block nav
    nav
        ul
            li
                a(href="barraListaProducto.html")
                    img(src="https://www.mandysam.com/img/random.jpg", alt="alt")
    
block bodyContent
    mixin mixinCasillasInput(titulo)
        .o-inputs
            .inputs__titulo: titulo
            input.inputs__casilla
    .o-contenedor--registrarse
        .c-contenedor__bloque
            .c-bloque__titulo
                #tituloRegistrarse Registrarse
            form.c-bloque__inputs
                +mixinCasillasInput("correo")
                +mixinCasillasInput("nombre")
                +mixinCasillasInput("contrasena")
                +mixinCasillasInput("apellido")
        .c-barra-botones
            button.u-boton: a(href="404.html") Registrarse 
