extends layout/_html-body
block head
    link(rel="stylesheet", href="css/app.css")
    title Tienda
block nav
    //- nav
    //-     ul
    //-         li.u-centrar Pernu
    //-         +navLi("registrarse.html", "Registrarse").u-centrar
    //-         +navLi("index.html", "Iniciar Sesión").u-centrar
    //-         li#barra-lateral(onclick="abrirBarra()") |||
block bodyContent
    .o-contenedor
    //- .o-contenedor--grande
    //-     .c-grande__zapato 
    //-         .c-zapato__img
    //-         .c-zapato__barra 
    //-             .u-info-zapato 40$
    //-             .__-nada
    //-             .u-info-zapato Ver
    //-     .c-grande__fondo 
            


    script(src="js/tienda.js") 

    