.bloqueCargadoImagen{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    align-items: center;


        .areaCarga{
            padding: 12em 25em ; 
            background-color: $peel;
        }

        .botonModificar{
            padding: 10px;
            background:wheat;
            margin: 1em;
        }
}

.boton#botonInvisible{
    visibility: hidden;
}