@import "../config/mixins";

.contenedorBarraIconos{
    background-color: burlywood;
    height: 100vh;
    width: 30%;
    margin-left: auto;
    @include flexFlow(flex-start, flex-start, column)
}

.bloqueIconosBarra{
    background-color: cornflowerblue;
    @include flexItem (crimson, 7%, 100%);
    @include flexFlow(space-around, center);

        .iconoUsuario{
            @include flexItem(skyblue, 50%, 25%)
        }
        .iconoListado{
            @include flexItem(darkviolet, 50%, 25%)
        }

}

.bloqueFotoGenerada{
    @include flexItem (black, 30%, 100%);
    @include flexFlow (center, center);

        .fotoGenerada{
            background-color: cornsilk;
            @include flexItem(goldenrod, 90%, 50%);
            border-radius: 50%;
        }
}

.contenedorInformacionUsuario{
    @include flexItem(none, 60%, 100%);
    @include flexFlow(space-between, center, column);
    padding: 2em;
    box-sizing: border-box;
}

.tituloHaciaUsuario{
    @include flexItem(deeppink, 15%, 90%);
    margin-bottom: 1em;
}

.descripcionHaciaUsuario{
    @include flexItem(darkviolet, 50%, 90%)
}

.bloqueBotonesBarraUsuario{
    @include flexItem(none, 30%, 80%);
    @include flexFlow(space-around, center);
    
        .sesionBarraUsuario{
            @include flexItem(orangered, 40%, 40%)
        }
       .registrarseBarraUsuario{
            @include flexItem(orange, 40%, 40%)
        }
    }


    .bloqueBotonesBarraUsuario{
        @include flexItem(none, 40%, 90%, "!important")
    }
    button#historialDeComprasBoton{
        @include flexItem(cyan, 40%, 100%, "!important")
    }