.contenedorBarraIconos
    block contenidoCabeceraAutenticacion
        .bloqueIconosBarra
            if ordenIconosBarra == "derecha"
                .iconoUsuario
                .iconoListado
            else if ordenIconosBarra== "izquierda"
                .iconoListado
                .iconoUsuario
            else
                .iconoUsuario
                .iconoListado     
        block fotoGeneradaBlock
            .bloqueFotoGenerada
                .fotoGenerada  
    block contenidoInformacionAutenticacion
        .contenedorInformacionUsuario
            .tituloHaciaUsuario
            .descripcionHaciaUsuario
            .bloqueBotonesBarraUsuario
                block bloqueBotonesBarraUsuario
                    button.boton
                    button.boton