mixin navLiList(href, texto)
    li: a(href= `${href}`)= texto

a(href="index.html")
    img(src="images/logoPav.png", alt="alt")
ul
    //- block navLi
    //-         +navLiList("inciarSesion.html", "Iniciar Sesión")
    //-         +navLiList("tienda.html", "Tienda")