extends ../../layouts/pug/_defaultTemplateSinNav
block head
    link(rel="stylesheet", href="css/barraUsuarioAuthMain.css", type="text/css")
block contentTemplate
    include components/_contenedorbarraUsuarioAutenticado