@mixin flexItem ($backgroundColor: white, $height: 100%, $width: 40%, $important: ""){
    background: $backgroundColor;
    height:$height;
    width: $width unquote($important);
}

@mixin flexFlow ($justify: flex-start, $align: flex-start, $direction: row,$display: flex){
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    display: $display;

}

@mixin backgroundImage($path: black){
    background: url($path);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin button ($height: false, $width: false){
    cursor: pointer;
    @if $height{
        height: $height;
        width: $width;
    } @else{
        height: 25%;
        width: 25%;
    }
}