.contenedorInformacionUsuario
    .tituloHaciaUsuario
    .descripcionHaciaUsuario
    .bloqueBotonesBarraUsuario
        block botonesBarraUsuario
            button.sesionBarraUsuario
            button.registrarseBarraUsuario