body {
  margin: 0; }

.bloque {
  display: flex;
  background: #18181c;
  height: 30vh;
  align-items: center;
  justify-content: center; }
  .bloque .titulo {
    margin-right: auto;
    align-self: flex-start;
    font-family: 'volaroid_scriptregular';
    font-size: 40px;
    font-width: 50%; }
  .bloque .descripcionDelTitulo {
    font-family: 'maxwell_boldregular';
    font-size: 23px; }
  .bloque .bloqueInvisible {
    margin-left: auto; }
  .bloque .titulo, .bloque .descripcionDelTitulo {
    color: white;
    flex: 1; }

.bloque:nth-child(even) {
  display: flex;
  background: #75c8aeff;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  display: flex;
  justify-content: flex-end;
  background: #ffecb4ff;
  margin: 0 0;
  align-items: center;
  height: 10vh; }

li {
  color: #18181c;
  margin: 0 25px;
  list-style-type: none;
  font-family: 'volaroid_scriptregular'; }

a, img {
  width: 60px;
  margin-right: auto;
  margin-left: -15px; }

.contenedorEncabezado {
  height: 90vh; }

.backgroundImagen {
  background: black url("https://c4.wallpaperflare.com/wallpaper/573/746/509/tf2-engineer-pyro-team-fortes2-wallpaper-preview.jpg");
  /* The image used */
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.textoBienvenida {
  padding: 1em;
  background-color: darkturquoise;
  width: 30em;
  margin-left: 3em;
  font-size: 2em;
  color: white; }

.descripcionBienvenida {
  background-color: deeppink;
  width: 30em;
  margin-left: 3em;
  margin-top: 3em;
  font-size: 2em;
  color: white; }

.contenedorPaneles {
  background-color: indigo;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto; }
  .contenedorPaneles::-webkit-scrollbar {
    display: none; }

.bloquePanel {
  background-color: lightgreen;
  height: 40%;
  width: 20%;
  margin: 2em 0.5em; }

.fotoPanel {
  background-color: burlywood;
  height: 70%;
  display: flex;
  justify-content: flex-end; }
  .fotoPanel .botonAnadirPanel {
    background-color: black;
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .fotoPanel .botonAnadirPanel .textoBotonAnadirPanel {
      color: white; }

.caracteristicasPanel {
  background-color: cadetblue;
  height: 31%;
  display: flex; }
  .caracteristicasPanel .tallasPanel {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    word-wrap: break-word;
    color: white; }
  .caracteristicasPanel .coloresPanel {
    background-color: black;
    display: flex;
    width: 65%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .caracteristicasPanel .coloresPanel .circulosColoresPanel {
      border-radius: 24px;
      height: 1em;
      width: 1em;
      margin-left: 1em; }

.circulosColoresPanel#circuloColores1 {
  background-color: crimson; }

.circulosColoresPanel#circuloColores2 {
  background-color: blue; }

.circulosColoresPanel#circuloColores3 {
  background-color: mediumspringgreen; }

.circulosColoresPanel#circuloColores4 {
  background-color: chocolate; }

/*# sourceMappingURL=tiendaMain.css.map */
