extends ../../../layouts/pug/_defaultTemplate
block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title PAV
            link(rel="stylesheet", href="css/pagPIndex.css")
block contenidoNav
        a(href="index.html")
            img(src="images/logoPav.png", alt="alt")
block contentTemplate
    